.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth__title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.auth__form__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.auth__button{
  width: 100%;
  padding: 10px;
  background-color: #e5e4e4;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.auth__popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth__register-popup--success-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  object-fit: contain;
}
