.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth__title {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 30px;
  color: #fff;
}

.auth__form__input {
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
  padding-bottom: 13px;
  width: 100%;
  font-size: 14px;
  color: white;
}

.auth__button{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  margin-top: 216px;
  cursor: pointer;
}

.auth__popup-container {
  width: 100%;
  height: 100%;
  padding: 36px;
  position: relative;
  background-color: white;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.auth__link-container {
  margin-top: 20px;
  text-align: center;
}

.auth__paragraph {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.auth__register-popup--success-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  object-fit: contain;
}
