.header {
  padding-top: 40px;
}

.header__logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__auth-links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__divisor {
  margin: 40px 0;
}

.header__nav {
  margin-bottom: 50px;
}

@media screen and (max-width: 879px) {
  .header {
    padding: 24px 24px 0;
  }

  .header__divisor {
    margin: 32px 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
  }
  .header__logo-container {
  max-width: 173px;
  display: flex;
  justify-content: space-between;
}
  .header__nav {
    padding: 0;
  }
}
