.mobile-menu {
  background-color: #000000;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  text-align: right;
}

.mobile-menu--hidden {
  display: none;
}

.mobile-menu__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mobile-menu__nav {
  margin-top: 20px;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu__list-item {
  margin-bottom: 15px;
}
